# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# proposal
proposal/proposal.aux 
proposal/proposal.log 
proposal/proposal.out

# lrm 
lrm/Compost.aux
lrm/Compost.log
lrm/Compost.out 

# compiler 
compiler/_build/